<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>index</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
	
</head>
<body>

<!-- täällä pitää näkyä avattu kysely kokonaisuudessaan ja sitten pystyä lisäämään kysymys -->
	    <form th:object="${questionObject}" th:action="@{/save_question}" method="post">
		  	<label for="questionText">Question</label>
			<input type="text" id="questionText" th:field="*{question}" class="form-control"/>
			
									
		  	<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
</body>
</html>