<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Ibiza Team</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
 </head>
<body>
<div class="container">
   <div class="row">
       <div class="col-sm text-center">
           <h1>Welcome to <span class="badge badge-secondary">Ibiza Team's homepage</span></h1>
           Today is <label th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></label>
       </div>
   </div>
   <form>
	  <div class="form-row">
	    <div class="col">
	      <div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="inputGroup-sizing-default">Kyselyn nimet</span>
			  </div>
			  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
			</div>
	    </div>
	  </div>
	  <div class="form-row">
	    <div class="col">
	      <div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="inputGroup-sizing-default">Kysymys 1</span>
			  </div>
			  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
			</div>
	    </div>
	    <div class="col">
	      <div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <label class="input-group-text" for="questionType">Kysymystyyppi</label>
			  </div>
			  <select class="custom-select" id="questionType">
			       <option th:each="questionType, index : ${questionTypes}" th:value="${questionType.questionTypeId}" th:text="${questionType.type}"></option>
			  </select>
	      </div>
	    </div> 
	  </div>
	  <!-- Add more question -->
	  <div class="form-row">
	     <div class="col">
	         <button type="button" class="btn btn-outline-secondary">Lisä kysymys</button>
	     </div>
	  </div>
	  <!-- Create survey button -->
	  <div class="form-row text-center">
	     <div class="col">
	         <button type="submit" class="btn btn-outline-primary">Luo kysely</button>
	     </div>
	  </div>
	  
</form>
</div>
<script src="../../jquery/jquery.min.js" th:src="@{/jquery/jquery.min.js}"></script>
<script src="../../poper/popper.min.js" th:src="@{/poper/popper.min.js}"></script>
<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>