<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>index</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
	<link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	
</head>
<body>
	<div class="container">
		<div class="row">
	       <div class="col-sm text-center">
	           <h1>Kyselyt</h1>
	       </div>
  		</div>
  		<form>
  		<div class="form-row">
	  		<div class="input-group mb-3">
	  			<div class="input-group-prepend">
				    <label class="input-group-text" for="questionarySelect">Valitse kysely</label>
				 </div>
	  			<select class="custom-select" id="questionarySelect">
				       <option 
				       		th:each="questionary, index : ${questionaries}" 
				       		th:value="${questionary.questionaryId}" 
				       		th:text="${questionary.name}">
				       	</option>
				  </select>
				  <button type="button" class="btn btn-outline-secondary" id="addQuestionBtn">Lisää kysymys</button>
			</div>
	  	</div>
  		</form>
	</div>
  
  
  
  <!-- tämä alla oleva toimii -->
	<table>
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		
	 
		<tr th:each="questionary: ${questionaries}">
			<td th:text="${questionary.name}"></td>
			<td><a th:href="@{/add/{id}(id=${questionary.questionaryId})}" class="btn btn-primary">Add Question</a> </td>
			
		</tr>
		
	</table>

</body>
</html>