<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>index</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
	<link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
	
</head>
<body>
	<div class="container">
		<div class="row">
	       <div class="col-sm text-center">
	           <h1>Questionaries</h1>
	       </div>
  		</div>
	</div>
	
	
	<table>
		<thead>
			<tr>
				<th>Name</th>
			</tr>
		</thead>
		
		<!-- tee dropdown list -->
		<tr th:each="questionary: ${questionaries}">
			<td th:text="${questionary.name}"></td>
			<td><a th:href="@{/add/{id}(id=${questionary.questionaryId})}" class="btn btn-primary">Add Question</a> </td>
			
		</tr>
		
	</table>
</body>
</html>