<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>index</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
	
</head>
<body>
	<h1>Questionaries</h1>
	<table>
		<tr>
			<th>Name</th>
		</tr>
		<tr th:each="questionary: ${questionaries}">
			<td th:text="${questionary.name}"></td>
			<td><a href="@{/add/{id}(id=${questionary.questionaryId})}" class="btn btn-primary">Add Question</a> </td>
			
		</tr>
			
	</table>
</body>
</html>